<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
</head>
<body>
  <header>
    <h1>商品一覧</h1>
  </header>
  <main>
    <article>
      <table border="1">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>価格</th>
        </tr>
        <tr th:each="item:${itemList}">
          <td th:text="${item.id}"></td>
          <td th:text="${item.name}"></td>
          <td th:text="${item.price}"></td>
        </tr>
      </table>
    </article>
  </main>
</body>
</html>