<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
</head>
<body>
  <header>
    <h1>商品一覧</h1>
  </header>
  <main>
    <article>
      <table border="1">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>価格</th>
          <th>更新</th>
        </tr>
        <tr th:each="item:${itemList}">
          <td th:text="${item.id}"></td>
          <td th:text="${item.name}"></td>
          <td th:text="${item.price}"></td>
          <td>
            <form th:action="'/items/' + ${item.id} + '/edit'" method="get">
              <button>更新</button>
            </form>
          </td>
        </tr>
      </table>
      <a href="/items/add">新規登録</a>
    </article>
  </main>
</body>
</html>